/*--------------google font link---------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html{
    scroll-behavior:smooth;
}
:root{
    --margin-ttb:80px;
}
body{
    font-family: 'Roboto', sans-serif;
}
.header-bg{
    background: #264653;
}
.section-title{
    margin:var(--margin-ttb) auto;
}
hr{
    width: 80px;
    border: 2px solid #E76F51;
    border-radius: 1px;
    margin: 0 auto;
}
.grayscale img{
    filter:grayscale(100%);
}
.mytext-color{
    color:#E76F51;
}
.mybtn{
    padding:10px 20px;
    background-color: #E76F51;
    color:#fff;
    border:none;
    border-radius: 4px;
}
textarea{
    resize: none;
}