/*--------------google font link---------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html{
    scroll-behavior:smooth;
}
:root{
    --margin-ttb:80px;
}
body{
    font-family: 'Roboto', sans-serif;
}
.header-bg{
    background: #000b76;
}
.section-title{
    margin:var(--margin-ttb) auto;
}
hr{
    width: 100px;
    border: 2px solid #000b76;
    border-radius: 5px;
    margin:10px auto;
    margin-bottom: 60px;
}
.grayscale img{
    filter:grayscale(100%);
    transition:filter 0.2s ease-out;
}
.grayscale img:hover{
    filter:grayscale(0%);
}
.mytext-color{
    color:#E76F51;
}
.mybtn{
    padding:10px 20px;
    background-color: #E76F51;
    color:#fff;
    border:none;
    border-radius: 4px;
    font-weight: bold;
}
textarea{
    resize: none;
}
.form-btn{
    background:linear-gradient(#E76F51,#ff714e);
    color:#fff;
    font-weight: 700;
}
.populer-top-margin{
    margin-top:150px;
}
.gray-bg{
    background-color: gainsboro;
    border-radius: 10px;
}